In [1]:
class car:
    def __init__(self,name,milage):
        self.name = name
        self.milage = milage
        
    def brand_name(self):
        if 'Tata' in self.name:
            print('Tata')
        else:
            print('Others')
            
    def locomotion(self):
        if 'Tata' in self.name:
            print('vroom vroom')
        else:
            print('Zzzz...')

In [9]:
a1 = car('Tata',25)

In [10]:
a1.brand_name()

Tata

In [11]:
a1.locomotion()

vroom vroom

### DUNDER METHOD / MAGIC METHOD
- Dunder methods, Dunder here means â€œDouble Under (Underscores)

- `__INIT__`
- `__ADD__`
- `__STR__`
- `__IT__`
- etc

In [ ]:
# what change do I need to make to get 6th line printed

In [27]:
class car:
    def __init__(self,name,milage):
        self.name = name
        self.milage = milage
    
    # whenever object is printed ,__str__() function is called
    def ssdf(self):
        print(self.name)

In [28]:
c2 = car('tata',25)

In [29]:
print(c2.s)

<bound method car.s of <__main__.car object at 0x000002087C268F10>>

In [ ]:
# what change do I need to make to get 6th line 'print this' printed

In [30]:
class car:
    def __init__(self,name,milage):
        self.name = name
        self.milage = milage
        
    def brand_name(self):
        print('print this')

In [32]:
c3 = car('honda',30)

In [34]:
print(c3.brand_name)

<bound method car.brand_name of <__main__.car object at 0x000002087C2CE610>>

In [ ]:
#----------------------------------------------------------------------------

`__ADD__`

In [35]:
# PYTHON DEFAULT FUNCTION FOR '+' ADD/PLUS FOR INTEGER
# IT CAN BE CHANGED BY OUR WILL

class demo:
    def __init__(self,name,number):
        self.name = name
        self.number = number
        
    def __add__(self,other):
        return self.number - other.number # CHANGED '+' INTO '-'

In [37]:
demo1 = demo('sourabh',30)
demo2 = demo('kumar',10)

In [38]:
# DUE TO ABOVE CHANGE IN '-' SIGN IT GETS SUBTRACTED.
demo1 + demo2

20

`__lt__`
#### LESS THAN

In [ ]:
# PYTHON DEFAULT FUNCTION TO CHECK IF FIRST NUMBER IS GREATER THAN SECOND ONE ?

In [45]:
class demoo:
    def __init__(self,name,number):
        self.name = name
        self.number = number
        
    def __lt__(self,other):
        return self.number < other.number

In [46]:
demo3 = demoo('sourabh',30)
demo4 = demoo('kumar',10)

In [47]:
demo3<demo4

False

In [ ]:
# ------------------------------------------------------------------------------------

In [48]:
class Car:
    def __init__(self,name,mileage):
        self.name = name
        self.mileage = mileage
        
    # when object is printed __str__ function is called
    def __str__(self):
        return f"This car is {self.name} and it has a mileage of {self.mileage}."
    
    
    # to enable the use of addition operator
    #def __add__(self,other):
     #   return self.mileage + other.mileage
        
    def __add__(self,other):
        mileage =  self.mileage + other.mileage    
        return Car('xyz',mileage)

In [49]:
x1 = Car('thar',10)
x2 = Car('punch',30)

In [50]:
# output is due to __str__ function.
print(x1)

This car is thar and it has a mileage of 10.

In [51]:
# due to '+' the code of command will go to __add__ function, there mileage will be 40.
# in next line Class 'Car' is passed with 'xyz' as a name parameter and and newly calculated as mileage parameter.
# after the 'Car' class is called self.name and self.mileage will be replaced with 'xyz' and 40 respectively.

car_add = x1 + x2

In [52]:
# after all the above process are done,
# due to print() function -> 'print(car_add)' , the code of command will go to __str__.
# that will print the string with self.name ('xyz') and self.mileage (40).

print(car_add)

This car is xyz and it has a mileage of 40.

In [53]:
final_add = x1+x2+Car('abc',10)

In [54]:
print(final_add)

This car is xyz and it has a mileage of 50.

In [55]:
#------------------------------------------------------------------------------------

### INHERITANCE

In [ ]:
# start class name with capital letters or we use camel case

In [82]:
class SchoolMember:
    def __init__(self,name):     #-Parent_Class
        self.name = name
        
class Student(SchoolMember):     #inheriting parent class, - Child1
    def __init__(self,name,grade):
        super().__init__(name)
        self.grade = grade
        
class Staff(SchoolMember):       #inheriting parent class  -Child2
    def __init__(self,name,salary):
        super().__init__(name)
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self,name,salary,subject):  #-Child3
        super().__init__(name,salary)
        self.subject = subject

In [64]:
s1 = Student('Krishna','A')

In [65]:
s1.grade

'A'

In [60]:
# name is from Parent_Class, we directly cant use it. we need to use 'super().__init__('inheriting_variable')'
# before
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [66]:
# after
s1.name

'Krishna'

In [79]:
s4 = Teacher('sourabh',50,'DS')

In [80]:
s4.subject

'DS'

In [81]:
s4.salary

50

In [83]:
s3 = Staff('sourabh',60)

In [84]:
s3.name

'sourabh'

In [85]:
s3.salary

60